<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjt.board.mapper.BoardMapper">

	<resultMap type="boardDto" id="boardDtoMap">
		<id property="boardId" column="BOARDID" />
		<result property="memberId" column="MEMBERID" />
		<result property="title" column="TITLE" />
		<result property="content" column="CONTENT" />
		<result property="regDate" column="REGDATE" />
		<result property="memberUsername" column="MEMBERUSERNAME" /> <!-- 추가된 부분 -->
		<result property="memberName" column="MEMBERNAME" /> <!-- 추가된 부분 -->
		<collection property="fileBoardDto"
			resultMap="fileBoardDtoMap" />
	</resultMap>


	<resultMap type="fileBoardDto" id="fileBoardDtoMap">
		<id property="fileId" column="FILEID" />
		<result property="boardId" column="BOARDID" />
		<result property="origin_filename" column="ORIGIN_FILENAME" />
		<result property="stored_filename" column="STORED_FILENAME" />
	</resultMap>




	<select id="getAllList" resultMap="boardDtoMap">
		SELECT b.boardId, b.memberId, b.title, b.content, b.regDate, b.delFlag,
		m.id AS memberUsername, m.name AS memberName
		FROM board b
		JOIN member m ON b.memberId = m.memberId
		WHERE b.delFlag = 'N'
		ORDER BY b.regDate DESC
	</select>

	<select id="getBoard" parameterType="int"
		resultMap="boardDtoMap">
		SELECT b.boardId, b.memberId, b.title, b.content, b.regDate,
		b.delFlag,
		m.id AS memberUsername, m.name AS memberName,
		f.fileId,
		f.origin_filename
		FROM board b
		JOIN member m ON b.memberId = m.memberId
		LEFT JOIN fileinfo f ON b.boardId = f.boardId
		WHERE b.boardId =
		#{boardId} AND b.delFlag = 'N'
	</select>

	<insert id="insertBoard" parameterType="boardDto"
		useGeneratedKeys="true" keyProperty="boardId">
		INSERT INTO board (memberId,
		title, content, regDate, delFlag)
		VALUES (#{memberId}, #{title},
		#{content}, NOW(), 'N')
	</insert>

	<update id="updateBoard" parameterType="boardDto">
		UPDATE board
		SET TITLE =
		#{title}, CONTENT = #{content}
		WHERE boardId = #{boardId}
	</update>

	<delete id="deleteByMemberId" parameterType="int">
		DELETE FROM board
		WHERE memberId = #{memberId}
	</delete>

	<delete id="deleteByBoardId" parameterType="int">
		DELETE FROM board WHERE boardId = #{boardId}
	</delete>

	<delete id="mulDel" parameterType="list">
		DELETE FROM board WHERE boardId IN
		<foreach collection="boardIds" item="boardId" open="("
			separator="," close=")">
			#{boardId}
		</foreach>
	</delete>
</mapper>
