<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjt.board.mapper.BoardMapper">

	<resultMap type="boardDto" id="boardDtoMap">
		<id property="boardId" column="BOARDID" />
		<result property="memberId" column="MEMBERID" />
		<result property="title" column="TITLE" />
		<result property="content" column="CONTENT" />
		<result property="regDate" column="REGDATE" />
		<collection property="fileBoardDto"
			resultMap="fileBoardDtoMap"></collection>
	</resultMap>

	<resultMap type="fileBoardDto" id="fileBoardDtoMap">
		<id property="file_seq" column="FILE_SEQ" />
		<result property="boardId" column="BOARDID" />
		<result property="origin_filename" column="ORIGIN_FILENAME" />
		<result property="stored_filename" column="STORED_FILENAME" />
	</resultMap>


	<select id="getAllList" resultType="boardDto">
		SELECT b.boardId, b.title, b.content, b.regDate, b.delFlag,
		m.id AS memberUsername, m.name AS memberName
		FROM board b
		JOIN member m ON b.memberId = m.memberId
		WHERE b.delFlag = 'N'
		ORDER BY b.regDate DESC
	</select>

	<select id="getBoard" parameterType="int" resultType="boardDto">
		SELECT b.boardId, b.memberId, b.title, b.content, b.regDate, b.delFlag,
		m.id AS memberUsername, m.name AS memberName
		FROM board b
		JOIN member m ON b.memberId = m.memberId
		WHERE b.boardId = #{boardId} AND b.delFlag = 'N'
	</select>

	<!-- useGeneratedKeys="true" keyProperty="board_seq" : 증가된 board_seq값을 BoardDto에 
		전달 : insertBoard(boardDto) -->


	<insert id="insertBoard" parameterType="boardDto">
		INSERT INTO board
		(memberId, title, content, regDate, delFlag)
		VALUES (#{memberId},
		#{title},
		#{content}, NOW(), 'N')
	</insert>

	<update id="updateBoard" parameterType="boardDto">
		UPDATE board
		SET
		TITLE=#{title}, CONTENT=#{content}
		WHERE boardId=#{boardId}
	</update>

	<delete id="deleteByMemberId" parameterType="int">
		DELETE FROM board WHERE memberId = #{memberId}
	</delete>

	<delete id="deleteByBoardId" parameterType="int">
		DELETE FROM board WHERE boardId = #{boardId}
	</delete>

    <!-- 여러 게시물 삭제 -->
    <delete id="mulDel" parameterType="list">
        DELETE FROM board WHERE boardId IN
        <foreach collection="boardIds" item="boardId" open="(" separator="," close=")">
            #{boardId}
        </foreach>
    </delete>


</mapper>
