<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjt.board.mapper.FileMapper">

	<resultMap type="fileBoardDto" id="fileBoardDtoMap">
		<id property="fileId" column="FILEID" />
		<result property="boardId" column="BOARDID" />
		<result property="origin_filename" column="ORIGIN_FILENAME" />
		<result property="stored_filename" column="STORED_FILENAME" />
	</resultMap>

	<insert id="insertFileBoard" parameterType="fileBoardDto">
		INSERT INTO fileinfo
		(boardId, origin_filename, stored_filename)
		VALUES (#{boardId},
		#{origin_filename}, #{stored_filename})
	</insert>

	<select id="getFilesByBoardId" parameterType="int"
		resultMap="fileBoardDtoMap">
		SELECT *
		FROM fileinfo
		WHERE boardId = #{boardId}
	</select>

	<delete id="deleteFilesByBoardId" parameterType="int">
		DELETE FROM
		fileinfo
		WHERE boardId = #{boardId}
	</delete>

	<delete id="deleteByBoardId" parameterType="int">
		DELETE FROM fileinfo
		WHERE boardId = #{boardId}
	</delete>

</mapper>

















