<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시물 추가</title>
</head>
<body>
<div layout:fragment="content">
    <div id="container">
        <h1>게시물 추가하기</h1>
        <form action="/board/boardInsert" method="post" th:object="${insertBoardCommand}" enctype="multipart/form-data">
            <input type="hidden" th:field="*{memberId}" />
            
            <table class="table">
                <tr>
                    <th>제목</th>
                    <td>
                        <input type="text" name="title" th:field="*{title}" class="form-control" />
                        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                    </td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td>
                        <textarea name="content" th:field="*{content}" class="form-control"></textarea>
                        <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
                    </td>
                </tr>
                <tr>
                    <th>파일</th>
                    <td>
                        <input type="file" name="files" multiple class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn">등록</button>
                        <button type="button" class="btn" th:onclick="|location.href='@{/board/boardList}'|">목록</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>
