<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>게시판 목록</title>
<script type="text/javascript">
	function allSel(bool) {
		var chks = document.getElementsByName("seq");
		for (var i = 0; i < chks.length; i++) {
			chks[i].checked = bool;
		}
	}

	function isCheck() {
		return confirm("정말 삭제하시겠습니까?");
	}
</script>
<style type="text/css">
</style>
</head>
<body>
	a
	<div layout:fragment="content">
		<div class="container mt-5">
			<h2 class="mb-4">게시판 목록</h2>
			<p th:text="'현재 세션 mdto: ' + ${session.mdto}"></p>
			<form action="/board/mulDel" method="post"
				th:object="${delBoardCommand}">
				<table class="table">
					<thead>
						<tr>
							<th
								th:if="${session.role != null and session.mdto.role != 'USER'}">
								<input type="checkbox" name="all" onclick="allSel(this.checked)" />
							</th>

							<th>작성자[ID]</th>
							<th>제목</th>
							<th>내용</th>
							<th>작성일</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${#lists.isEmpty(list)}">
							<td colspan="5" style="text-align: center;">--- 등록된 게시물이
								없습니다 ---</td>
						</tr>
						<tr th:each="board : ${list}">
							<td
								th:if="${session.role != null and session.mdto.role != 'USER'}">
								<input type="checkbox" name="seq" th:value="${board.board_seq}" />
							</td>
							<td th:text="${board.id}">작성자[ID]</td>
							<td><a
								th:href="@{/board/boardDetail(board_seq=${board.board_seq})}"
								th:text="${board.title}"></a></td>
							<td th:text="${board.content}">내용</td>
							<td th:text="${#dates.format(board.regdate, 'yyyy-MM-dd')}">작성일</td>
						</tr>
					</tbody>
				</table>

				<span th:if="${#fields.hasErrors('seq')}" th:errors="*{seq}"></span>

				<div class="text-right">
					<!-- 로그인한 경우에만 버튼 표시 -->
					<div th:if="${session.role != null}">
						<button type="button" class="btn btn-secondary"
							onclick="location.href='/board/boardInsert'">글쓰기</button>
						<button type="submit" class="btn btn-danger"
							th:if="${session.mdto.role != 'USER'}"
							onclick="return isCheck();">삭제</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
